html,
body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    direction: rtl;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    /* חשוב מאוד! */
    Font-size: calc(1vh + 0.5vw);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#root {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.app {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  /* .app.opening {
    background-image: url("../assets/images/backgrounds/opening.svg");
  } */
.til-icon {
    position: fixed;
    top: 1%;
    left: 1%;
    width: 3rem;
}